name: "tests"
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

env:
  KUBECONFIG: ${{ github.workspace }}/.kube/config

jobs:
  get_version_matrix:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - id: get_version_matrix
      shell: bash
      run: scripts/get-version-matrix.sh
    outputs:
      version_matrix: ${{ steps.get_version_matrix.outputs.matrix }}
  unit_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@main
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version-file: go.mod
    - name: Unit tests
      env:
        GOPATH: /home/runner/go
      run: |
        make test
        make vet
  acc_test:
    needs: get_version_matrix
    runs-on: ubuntu-latest
    strategy:
      matrix:
        terraform_version:  ${{ fromJson(needs.get_version_matrix.outputs.version_matrix) }}
    steps:
    - uses: actions/checkout@main
    - name: Set up Go
      uses: actions/setup-go@v2
      with:
        go-version-file: go.mod
    - uses: helm/kind-action@v1.4.0
      id: kind
      with:
        wait: 2m
    - name: Acceptance Tests
      env:
        KUBE_CONFIG_PATH: ${{ env.KUBECONFIG }}
        TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform_version }}
        TESTARGS: "-parallel 1"
      run: |
        make testacc
