name: "tests"
on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main

env:
  KUBECONFIG: ${{ github.workspace }}/.kube/config

jobs:
  get_version_matrix:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
    - id: get_version_matrix
      shell: bash
      run: scripts/get-version-matrix.sh
    outputs:
      version_matrix: ${{ steps.get_version_matrix.outputs.matrix }}
  unit_test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
    - name: Set up Go
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version-file: go.mod
    - name: Unit tests
      env:
        GOPATH: /home/runner/go
      run: |
        make test
        make vet
  acc_test:
    needs: get_version_matrix
    runs-on: ubuntu-latest
    strategy:
      # Don't cancel all in-progress and queued jobs in the matrix if any job in the matrix fails.
      # That will be helpful to catch any issues related to a particular Terraform version.
      fail-fast: false
      matrix:
        terraform_version:  ${{ fromJson(needs.get_version_matrix.outputs.version_matrix) }}
    steps:
    - uses: actions/checkout@24cb9080177205b6e8c946b17badbe402adc938f # v3.4.0
    - name: Set up Go
      uses: actions/setup-go@6edd4406fa81c3da01a34fa6f6343087c207a568 # v3.5.0
      with:
        go-version-file: go.mod
    - uses: helm/kind-action@d8ccf8fb623ce1bb360ae2f45f323d9d5c5e9f00 # v1.5.0
      id: kind
      with:
        wait: 2m
    - name: Acceptance Tests
      env:
        KUBE_CONFIG_PATH: ${{ env.KUBECONFIG }}
        TF_ACC_TERRAFORM_VERSION: ${{ matrix.terraform_version }}
        TESTARGS: "-parallel 1"
      run: |
        make testacc
